<div id="menu">
    <textarea disabled placeholder="No riddles yet..." cols="30" rows="7" id="client-riddle"></textarea>
    <textarea placeholder="Your answer..." cols="30" rows="1" id="client-answer" maxlength="20"></textarea>
    <a class="button" id="submitAnswer">Submit</a>
</div>
