@{
    ViewData["Title"] = "Home Page";
}

<div id="menu">
    <p id="counter">
        Number of riddles: <span id="count">0</span>
    </p>
    <a href="/add" class="button" id="add">Add riddle</a>
    <a href="/get" class="button" id="get">Riddle Time</a>
</div>
